In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [2]:
%%time

# Read previously saved output_trained.csv file
X_train = pd.read_csv("./Dataset/output_trained.csv")
X_train.head()

CPU times: user 22.4 s, sys: 4.02 s, total: 26.4 s
Wall time: 28 s

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,2018-01-01 00:01:00,0,5.0,8.5300,8.5300,8.5300,8.5300,78.38,8.530000,-0.014399
1,2018-01-01 00:02:00,0,7.0,8.5300,8.5300,8.5145,8.5145,71.39,8.520215,-0.015875
2,2018-01-01 00:03:00,0,45.0,8.5065,8.5299,8.4848,8.4848,1546.82,8.501394,-0.015410
3,2018-01-01 00:04:00,0,14.0,8.5009,8.5066,8.4744,8.5009,125.80,8.479810,-0.012524
4,2018-01-01 00:05:00,0,5.0,8.5007,8.5007,8.4560,8.4560,125.01,8.458435,-0.005940

In [3]:
SEED_VALUE = 42
colors = ['r', 'g', 'b'] # Seaborn color coding
color_count = 0

In [ ]:
%%time

asset_ids = list(range(0, 14))
color_count = 0
for asset_id in asset_ids:
    temp_dataframe = X_train_pd.loc[X_train_pd['Asset_ID'] == asset_id]
    title = "Asset_ID_" + str(asset_id)
    plt.figure(figsize = (10,5))
    sns.lineplot(x='timestamp', y='Target', data=temp_dataframe, color=colors[color_count % 3])
    plt.title(title)
    plt.show()
    color_count+=1

In [ ]:
# Timestamp per day, per week and per monthly